.notFoundImage img {
  width: 30%;
  height: auto;
  margin: 0 auto;
}
.notFoundImage {
  justify-content: center;
  text-align: center;
  align-items: center;
}
/* .footer-content-column {
        width: 49.99%;
    } */
